@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sono:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    /* font-family: 'Sono', sans-serif; */
}
::-webkit-scrollbar{
    width: 17px;
}

::-webkit-scrollbar-thumb{
    background: #FFC3A1;
    border-radius: 5px;
    border: 3px solid #FAF1E6;
    /* box-shadow: inset 2px 2px 3px #F08; */
}
::-webkit-scrollbar-track{
    background: #FAF1E6;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #FAF1E6;
    overflow: hidden;
    overflow-y: auto;
    background: url(bg2.jpg);
    }
    
    header {
        height: 100px;
        /* background: #FFC3A1; */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 15px;
        padding: 20px 50px;
        font-size: 20px;  
        font-family: monospace;
        letter-spacing: 2px;
        font-weight: bolder;

        backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.74);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
    }
    
    header img {
        filter: invert(1);
    }
    
    #search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 50px;
        margin-top: 50px;
    }
    #search button img{
        size: inherit;
    }
    #btnp{
        display: none;
    }
    #searchbar {
        height: 70px;
        width: 70%;
        border-radius: 60px;
        margin-right: 10px;
        padding: 10px 10px;
        font-size: 1.15rem;
        font-style: italic;
        background: #FFC3A1;
        border: 5px solid #FFC3A1;
        box-shadow: 0px 0px 8px 1px #050505;
        outline: none;
    }
    
    #searchbar:focus {
        width: 71%;
        color: #E96479;
    }
    
    .btn {
        padding: 17px 25px;
        background: #FFC3A1;
        border-radius: 5px;
        user-select: none;
        font-size: 1.2rem;
        cursor: pointer;
        border: 3px solid #FFC3A1;
        border-radius: 25px;
        display: flex;
        box-shadow: 0px 0px 8px 1px #050505;
        transition: all 200ms ease-in-out;
    }
    
        .btn:hover {
            background: #FFDCA9;
        }
    .btn:hover > #btnp{
        display: flex;
        position: relative;
        left: 8px;
    top: 3px;
    }
        #recipe-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            height: calc(100vh - var(--header-height) + (--search-height) + 20px);
            overflow: hidden;
            overflow-y: auto;
        }
    
        .recipe {
            height: 300px;
            width: 300px;
            padding: 4px;
            box-shadow: 0px 0px 8px 1px #050505;
            margin: 25px;
            transition: all 200ms ease-in-out;
            background: #FFC3A1;
            border-radius: 10px;
    
        }
    
        .recipe-title {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    
        .recipe-image {
            height: 210px;
        }
    
        .recipe-image img {
            height: 100%;
            width: 100%;
        }
    
        .recipe-text {
            height: 0px;
            visibility: hidden;
            opacity: 0;
            transition: all 200ms ease-in-out;
            background: #FFDCA9;
            margin-top: 20px;
            overflow: hidden;
            overflow-y: auto;
            transform: scale(0.8);
            transform-origin: top left;
        }
    
        .recipe-text ul {
            list-style-type: circle;
            list-style-position: inside;
            text-align: left;
            padding: 5px;
        }
    
        .recipe-text ul li {
            padding: 5px;
        }
    
        .recipe:hover .recipe-text {
            height: 200px;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    
        .recipe:hover {
            height: 500px;
        }
    
        @media only screen and (max-width: 700px) {
            .recipe {
                width: 350px;
            }
}